body {
    background-color: rgba(238, 26, 97, 0.411)
}

li {
    font-size: larger;
}

h3 {
    font-size: x-large;
}

table {
    margin-top: 15px;
    border: solid 5px blue;
    border-radius: 8px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);

}

td {
    border-bottom: solid 1px rgb(126, 2, 126);
    background-color: rgb(238, 83, 238);
}

tr:hover {
    font-weight: bold;
}


th {
    background: #ff0000;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}