body {
	background-color: rgb(255, 255, 255)
}

p {
	font-size: large;
}

img {
	width: 500px;
	height: 500px;
	position: center;
	float: left;
	left: 34%;
	right: 80px;
	margin-left: 100px;
	margin-top: 60px;
}

h1 {
	color: rgb(0, 0, 0);
	text-align: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.8);
	width: 300px;
	margin-left: 50px;
	padding: 10px;
	background-color: rgb(250, 198, 57);
	border-radius: 20px;
	box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
	position: relative;
	float: left;
	left: 41%;
	right: 80px;
	margin-left: -50px;


}

header {
	width: 100%;
	height: 150px;
	background-color: rgba(233, 88, 4, 0.9);
	z-index: 2;
	position: center;

}

header .container {
	position: center;
}

#menu {
	margin: 12px 0;
}

#menu li {
	display: inline-block;
	font-family: "Chicle-Regular";
}

#menu li a {
	color: rgb(255, 255, 255);
	font-size: 18px;
	padding: 1px 1px;
}